*{
  margin: 0;
  padding: 0;

}
.top-container{
  position: relative;
  padding-top: 100px;
}
.main{
  width: 100%;
}
img{
  width: 100%;
  height: 750px;
  
}
.imges{
  width: 200px;
  height: 200px;
  align-items: center;
}
.subtitle{
  font-size: 30px;
  color: rgb(52, 141, 0);
}
#tagline{
  margin-left:60px ;
  font-size: 40px;
  color: rgb(109, 234, 20);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#inner{
  color: rgb(109, 234, 20);
  text-align:left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 40px;
}
.skill{
  flex:5;
}
.zoom {
  flex: 1;
  padding: 10px;
  transition: transform .2s; /* Animation */
  width:80px;
  height: 80px;
  margin: 0 auto;
}
.side-details{
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.addo{
  display: flex;
  text-align: left;
  height: inherit;
  /* background-image: url('https://www.freepik.com/free-photo/php-programming-html-coding-cyberspace-concept_16444714.htm?query=coding%20background'); */
   /* background-image: url('images/lapi.jpg'); */
  /* background: linear-gradient(to right, #013243,#22a7f0); */
  background-color: #daffe1;
  
  
}
.education{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}
.grad-image{
  flex: 1;
  
}
.career-image{
  flex:1;
}
.img-graduation{
  width:440px;
  height: 520px;
  box-shadow: 4px 4px 4px rgb(215, 210, 210);

}
.img-career{
  width:480px;
  height: 580px;
}
.details{
  flex:1;
  padding: 18px;
}
.profile-container{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-card{
  width:300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  background-color: rgb(255, 246, 246);
  border-radius: 10px;
  box-shadow: 2px 4px 2px gray;
}
.profile{
  border-radius: 20%;
  width: 400px;
  height: 400px;
  margin: 50px;
}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.container{
  width: inherit;
  min-width: 100%;
  background-color: #e3f6e7;
  padding: 12px;
}
.bottom-container{
  text-align: center;
}
.contact-me{
  text-align: center;
}
.dot{
  width: 100px;
  height:100px;
  align-items: left;
}
.cap{
  
  margin-left: 23px;
  width: 40px;
  height:40px;
  align-items: left;
}
.cap:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.edu{
  color: #336e7b;
  font-size: 30px;
  margin-left: 10px;
}
.para:hover {
  transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.para{
  color: #34495e;
  font-size: 20px;
  margin-left: 30px;
}