.top-container{
  position: relative;
  padding-top: 100px;
}

img{
  width: 100%;
  height: 750px;
  
}
.imges{
  width: 200px;
  height: 200px;
  align-items: center;
}
#tagline{
  margin-left:60px ;
  font-size: 40px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#inner{
  color: white;
  text-align:left;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}
.zoom {
  padding: 10px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.addo{
  text-align: left;
  height: 500px;
  /* background-image: url('https://www.freepik.com/free-photo/php-programming-html-coding-cyberspace-concept_16444714.htm?query=coding%20background'); */
   /* background-image: url('images/lapi.jpg'); */
  /* background: linear-gradient(to right, #013243,#22a7f0); */
  background-color: #22313f;
  
  
}
body{
  
}
#main{
  
}
.profile{
  border-radius: 55%;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-left:50px ;
}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.bottom-container{
  text-align: center;
}
.contact-me{
  text-align: center;
}
.dot{
  width: 100px;
  height:100px;
  align-items: left;
}
.cap{
  
  margin-left: 23px;
  width: 40px;
  height:40px;
  align-items: left;
}
.cap:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.edu{
  color: #336e7b;
  font-size: 30px;
  margin-left: 10px;
}
.para:hover {
  transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.para{
  color: #34495e;
  font-size: 20px;
  margin-left: 30px;
}